In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv("csv files/50_Startups.csv")

In [4]:
df.head(5)

         RND      ADMIN        MKT       STATE     PROFIT
0  165349.20  136897.80  471784.10    New York  192261.83
1  162597.70  151377.59  443898.53  California  191792.06
2  153441.51  101145.55  407934.54     Florida  191050.39
3  144372.41  118671.85  383199.62    New York  182901.99
4  142107.34   91391.77  366168.42     Florida  166187.94

In [5]:
df.isna().sum()

RND       0
ADMIN     0
MKT       0
STATE     0
PROFIT    0
dtype: int64

In [6]:
from methods import replacer
replacer(df)

In [7]:
df.isnull().sum()

RND       0
ADMIN     0
MKT       0
STATE     0
PROFIT    0
dtype: int64

In [8]:
df.corr()["PROFIT"].sort_values()

ADMIN     0.200717
MKT       0.747766
RND       0.972900
PROFIT    1.000000
Name: PROFIT, dtype: float64

In [9]:
x = df.drop(labels=["PROFIT"], axis=1)
y = df[['PROFIT']]

In [10]:
x.isna().sum()

RND      0
ADMIN    0
MKT      0
STATE    0
dtype: int64

In [11]:
y.isna().sum()

PROFIT    0
dtype: int64

In [12]:
from methods import standardize
x1 = standardize(df)
x1.head(5)

        RND     ADMIN       MKT    PROFIT
0  2.016411  0.560753  2.153943  2.011203
1  1.955860  1.082807  1.923600  1.999430
2  1.754364 -0.728257  1.626528  1.980842
3  1.554784 -0.096365  1.422210  1.776627
4  1.504937 -1.079919  1.281528  1.357740

In [13]:
from methods import preprocessing
Xnew = preprocessing(df)

In [14]:
Xnew

,RND,ADMIN,MKT,PROFIT,STATE_California,STATE_Florida,STATE_New York
0,2.016411,0.560753,2.153943,2.011203,0,0,1
1,1.955860,1.082807,1.923600,1.999430,1,0,0
2,1.754364,-0.728257,1.626528,1.980842,0,1,0
3,1.554784,-0.096365,1.422210,1.776627,0,0,1
4,1.504937,-1.079919,1.281528,1.357740,0,1,0
5,1.279800,-0.776239,1.254210,1.127250,0,0,1
6,1.340066,0.932147,-0.688150,1.105481,1,0,0
7,1.245057,0.871980,0.932186,1.096210,0,1,0
8,1.030369,0.986952,0.830887,1.007470,0,0,1
9,1.091819,-0.456640,0.776107,0.946022,1,0,0
10,0.620398,-0.387599,0.149807,0.854847,0,1,0
11,0.593085,-1.065540,0.319834,0.808168,1,0,0
12,0.443260,0.215449,0.320617,0.741155,0,1,0
13,0.402078,0.510179,0.343957,0.558750,1,0,0
14,1.017181,1.269199,0.375742,0.516026,0,1,0
15,0.897913,0.045868,0.419219,0.448720,0,0,1
16,0.094441,0.009118,0.440446,0.375436,1,0,0
17,0.460720,0.855666,0.591017,0.334771,0,0,1
18,0.396725,-0.258465,0.692992,0.307116,0,1,0
19,0.279442,1.159837,-1.743127,0.269773,0,0,1
20,0.055726,-0.269588,0.723926,0.161935,1,0,0
21,0.102724,1.169186,0.732788,-0.017534,0,0,1
22,0.006007,0.051850,0.762376,-0.041613,0,1,0
23,-0.136201,-0.562211,0.774349,-0.082169,0,1,0
24,0.073115,-0.795469,-0.581939,-0.086729,0,0,1
25,-0.199312,0.656489,-0.603517,-0.115493,1,0,0
26,0.035370,0.821718,-0.635835,-0.157367,0,1,0
27,-0.035519,0.235069,1.174271,-0.175542,0,0,1
28,-0.168793,2.210141,-0.767189,-0.218798,0,1,0
29,-0.178609,1.142457,-0.858134,-0.275882,0,0,1
30,-0.258074,-0.205629,-0.990357,-0.302625,0,1,0
31,-0.276958,1.130554,-1.014419,-0.364127,0,0,1
32,-0.226949,0.283924,-1.362450,-0.365524,1,0,0
33,-0.401129,-0.659324,0.029817,-0.381787,0,1,0
34,-0.600682,1.310535,-0.001879,-0.383444,1,0,0
35,-0.609750,-1.308658,-0.045493,-0.389291,0,0,1
36,-0.991570,0.205925,-0.081763,-0.533932,0,1,0
37,-0.652532,-2.525994,-0.115608,-0.552955,1,0,0
38,-1.177178,-1.997270,-0.212785,-0.771497,0,0,1
39,-0.773820,-1.383122,-0.297583,-0.777094,1,0,0
40,-0.989577,-0.100900,-0.315786,-0.846411,1,0,0
41,-1.008534,-1.320796,-0.384552,-0.857466,0,1,0
42,-1.102106,-0.906938,-0.520596,-1.015365,1,0,0
43,-1.281134,0.217682,-1.449605,-1.058960,0,0,1
44,-1.134305,1.206419,-1.509074,-1.173209,1,0,0
45,-1.600350,0.101254,-1.727400,-1.180082,0,0,1
46,-1.593413,-0.199322,0.711122,-1.566922,0,1,0
47,-1.622362,0.507722,-1.743127,-1.740627,1,0,0
48,-1.610433,-2.509409,-1.743127,-1.913212,0,0,1
49,-1.622362,-0.157226,-1.369985,-2.439313,1,0,0

In [37]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(Xnew, y, test_size=0.2, random_state=31)

In [38]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(xtrain, ytrain)

LinearRegression()

In [39]:
ts_pred = reg.predict(xtest)
tr_pred = reg.predict(xtrain)

In [40]:
ts_pred

array([[ 97427.84],
       [166187.94],
       [156991.12],
       [ 97483.56],
       [191050.39],
       [ 99937.59],
       [192261.83],
       [132602.65],
       [122776.86],
       [ 96479.51],
       [152211.77],
       [ 78239.91],
       [134307.35],
       [149759.96],
       [ 89949.14]])

In [41]:
tr_pred

array([[ 42559.73],
       [111313.02],
       [ 90708.19],
       [ 49490.75],
       [ 69758.98],
       [ 96778.92],
       [191792.06],
       [129917.04],
       [155752.6 ],
       [108552.04],
       [ 71498.49],
       [105008.31],
       [182901.99],
       [110352.25],
       [144259.4 ],
       [141585.52],
       [105733.54],
       [118474.03],
       [146121.95],
       [ 77798.83],
       [ 64926.08],
       [125370.37],
       [107404.34],
       [ 81005.76],
       [ 14681.4 ],
       [156122.51],
       [ 65200.33],
       [ 81229.06],
       [101004.64],
       [103282.38],
       [ 35673.41],
       [ 96712.8 ],
       [126992.93],
       [108733.99],
       [124266.9 ]])

In [42]:
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain, tr_pred)
print("Training error is : ", tr_err)

Training error is :  1.4292059599288872e-11

In [43]:
ts_err = mean_absolute_error(ytest, ts_pred)
print("Testing error is : ", ts_err)

Testing error is :  2.037268131971359e-11

In [44]:
reg.score(xtrain,ytrain)

1.0

In [45]:
from sklearn.metrics import r2_score
r2_score(ytest,ts_pred)

1.0

In [24]:
from sklearn.linear_model import Ridge
rd =Ridge()
rd.fit(xtrain,ytrain)
rd.score(xtest,ytest)

0.9971752908804733

In [31]:
rd =Ridge(alpha=0.3)
rd.fit(xtrain,ytrain)
rd.score(xtest,ytest)

0.9994295627347223

In [32]:
rd =Ridge(alpha=0.4)
rd.fit(xtrain,ytrain)
rd.score(xtest,ytest)

0.9991189603576442

In [33]:
rd =Ridge(alpha=0.2)
rd.fit(xtrain,ytrain)
rd.score(xtest,ytest)

0.9997048184856852

In [34]:
rd =Ridge(alpha=0.1)
rd.fit(xtrain,ytrain)
rd.score(xtest,ytest)

0.9999129394475503

In [35]:
rd =Ridge(alpha=0)
rd.fit(xtrain,ytrain)
rd.score(xtest,ytest)

1.0

In [36]:
rd =Ridge(alpha=-0.1)
rd.fit(xtrain,ytrain)
rd.score(xtest,ytest)

0.9998727497514183

In [30]:
from sklearn.linear_model import Lasso
ls = Lasso(alpha=1.0)
ls.fit(xtrain,ytrain)
ls.score(xtest,ytest)

0.9999998796994667