### Predicting  if a person would buy a life insurance based on his/her age using logistic regression

In [3]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [4]:
import warnings
warnings.filterwarnings("ignore")

In [5]:
df = pd.read_csv("csv files/insurance_data.csv")

In [6]:
df.head(5)

   age  bought_insurance
0   22                 0
1   25                 0
2   47                 1
3   52                 0
4   46                 1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               27 non-null     int64
 1   bought_insurance  27 non-null     int64
dtypes: int64(2)
memory usage: 560.0 bytes

In [8]:
df.describe().T

                  count       mean        std   min   25%   50%   75%   max
age                27.0  39.666667  15.745573  18.0  25.0  45.0  54.5  62.0
bought_insurance   27.0   0.518519   0.509175   0.0   0.0   1.0   1.0   1.0

In [9]:
df.isna().sum()

age                 0
bought_insurance    0
dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(df[["age"]], df[["bought_insurance"]], test_size=0.2, random_state=21)

In [11]:
xtrain.shape

(21, 1)

In [20]:
xtest

    age
1    25
19   18
25   54
5    56
7    60
20   21

In [14]:
ytrain.shape

(21, 1)

In [15]:
ytest.shape

(6, 1)

In [21]:
#creating logistic regression model

In [22]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(xtrain,ytrain)

LogisticRegression()

In [23]:
y_pred = model.predict(xtest)

In [24]:
y_pred

array([0, 0, 1, 1, 1, 0], dtype=int64)

In [25]:
model.score(xtest,ytest)

1.0

y = mx + c

In [26]:
print("coeff.== ", model.coef_)

coeff.==  [[0.11538888]]

In [27]:
print("intercept == ", model.intercept_)

intercept ==  [-4.46324012]

Let's Define ' sigmoid function'

In [29]:
import math
def sigmoid(x):
    return 1/(1 +math.exp(-x))

In [30]:
def pred_fun(age):
    z = 0.115 + age - 4.5
    y = sigmoid(z)
    return y

In [31]:
age = 36
pred_fun(age)

0.9999999999999813

0.99999999 is greater than or eaqual to 0.5 which means person with 36 age will buy imsurance

In [33]:
age = 12
pred_fun(age)

0.9995072422476342