In [1]:
#Cars93.csv

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [3]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
df = pd.read_csv("csv files/Cars93.csv")

In [5]:
df.head(5)

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [6]:
df.isna().sum()

id                     0
Manufacturer           0
Model                  0
Type                   0
Min.Price              0
Price                  0
Max.Price              0
MPG.city               0
MPG.highway            0
AirBags                4
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    0
Rev.per.mile           0
Man.trans.avail        0
Fuel.tank.capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn.circle            0
Rear.seat.room         2
Luggage.room          11
Weight                 0
Origin                 0
Make                   0
dtype: int64

In [7]:
from methods import replacer
replacer(df)

In [8]:
df.isnull().sum()

id                    0
Manufacturer          0
Model                 0
Type                  0
Min.Price             0
Price                 0
Max.Price             0
MPG.city              0
MPG.highway           0
AirBags               4
DriveTrain            0
Cylinders             0
EngineSize            0
Horsepower            0
RPM                   0
Rev.per.mile          0
Man.trans.avail       0
Fuel.tank.capacity    0
Passengers            0
Length                0
Wheelbase             0
Width                 0
Turn.circle           0
Rear.seat.room        0
Luggage.room          0
Weight                0
Origin                0
Make                  0
dtype: int64

In [9]:
df.corr()["Weight"].sort_values()

MPG.city             -0.843139
MPG.highway          -0.810658
Rev.per.mile         -0.735264
RPM                  -0.427931
id                   -0.220525
Rear.seat.room        0.525213
Passengers            0.553273
Luggage.room          0.573633
Max.Price             0.605142
Price                 0.647179
Min.Price             0.666554
Horsepower            0.738798
Turn.circle           0.778043
Length                0.806274
EngineSize            0.845075
Wheelbase             0.871895
Width                 0.874961
Fuel.tank.capacity    0.894018
Weight                1.000000
Name: Weight, dtype: float64

### Simple Linear Regression

In [20]:
x = df[["Fuel.tank.capacity"]]
y = df["Weight"]

In [21]:
x.isna().sum()

Fuel.tank.capacity    0
dtype: int64

In [22]:
y.isna().sum()

0

In [23]:
type(y)

pandas.core.series.Series

In [24]:
from methods import standardize
x1 = standardize(df)

In [25]:
x1.head(5)

,id,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
0,-1.713526,-0.485787,-0.375720,-0.282465,0.471312,0.360925,-0.841022,-0.073484,1.717489,1.129530,-1.062184,-0.083243,-0.427186,-0.286932,-0.366184,-0.610436,-0.452197,-1.033015,-0.627055
1,-1.676275,1.388017,1.497844,1.531409,-0.781032,-0.770514,0.515869,1.078322,0.369586,0.005661,0.409445,-0.083243,0.812171,1.629649,0.431983,-0.298510,0.738090,0.396643,0.830208
2,-1.639025,1.008658,0.998227,0.948052,-0.423219,-0.581941,0.128186,0.540813,0.369586,-0.105713,0.072197,-0.083243,-0.220626,-0.286932,-0.632239,-0.610436,0.057926,0.039228,0.514894
3,-1.601774,1.571949,1.893374,2.069191,-0.602126,-0.581941,0.128186,0.540813,0.369586,0.410659,1.359872,0.884457,0.674465,0.302785,0.165927,-0.610436,1.078172,1.111472,0.566026
4,-1.564523,0.755752,1.091905,1.303535,-0.065407,0.172352,0.806631,1.231897,0.706562,0.430909,1.359872,-1.050944,0.192493,0.745073,-0.100128,0.013416,-0.282156,-0.318186,0.966560

In [26]:
from methods import preprocessing
Xnew = preprocessing(df)

In [27]:
Xnew

,id,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,...,Make_Toyota Camry,Make_Toyota Celica,Make_Toyota Previa,Make_Toyota Tercel,Make_Volkswagen Corrado,Make_Volkswagen Eurovan,Make_Volkswagen Fox,Make_Volkswagen Passat,Make_Volvo 240,Make_Volvo 850
0,-1.713526,-0.485787,-0.375720,-0.282465,0.471312,0.360925,-0.841022,-0.073484,1.717489,1.129530,...,0,0,0,0,0,0,0,0,0,0
1,-1.676275,1.388017,1.497844,1.531409,-0.781032,-0.770514,0.515869,1.078322,0.369586,0.005661,...,0,0,0,0,0,0,0,0,0,0
2,-1.639025,1.008658,0.998227,0.948052,-0.423219,-0.581941,0.128186,0.540813,0.369586,-0.105713,...,0,0,0,0,0,0,0,0,0,0
3,-1.601774,1.571949,1.893374,2.069191,-0.602126,-0.581941,0.128186,0.540813,0.369586,0.410659,...,0,0,0,0,0,0,0,0,0,0
4,-1.564523,0.755752,1.091905,1.303535,-0.065407,0.172352,0.806631,1.231897,0.706562,0.430909,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,1.564523,-0.060445,0.019810,0.073018,-0.959938,-1.524806,-0.162577,-0.668585,-1.315292,1.180155,...,0,0,0,0,0,1,0,0,0,0
89,1.601774,0.054512,0.051036,0.045673,-0.244313,0.172352,-0.647181,-0.188665,0.875050,0.714407,...,0,0,0,0,0,0,0,1,0,0
90,1.639025,0.663786,0.394523,0.164167,-0.781032,-0.770514,0.128186,0.655993,0.875050,0.106911,...,0,0,0,0,1,0,0,0,0,0
91,1.676275,0.537333,0.332071,0.145937,-0.244313,-0.204794,-0.356418,-0.572601,0.201098,-0.237337,...,0,0,0,0,0,0,0,0,1,0
92,1.713526,0.882205,0.748418,0.601684,-0.423219,-0.204794,-0.259498,0.464025,1.549001,-0.044963,...,0,0,0,0,0,0,0,0,0,1

In [28]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(Xnew, y, test_size=0.2, random_state=21)

In [29]:
xtrain.shape, xtest.shape, ytrain.shape, ytest.shape

((74, 259), (19, 259), (74,), (19,))

In [30]:
from sklearn.linear_model import LinearRegression
lin_model = LinearRegression()
lin_model.fit(xtrain, ytrain)

LinearRegression()

In [42]:
ts_pred = lin_model.predict(xtest)
tr_pred = lin_model.predict(xtrain)

In [43]:
#ts_pred

In [44]:
#tr_pred

In [45]:
from sklearn.metrics import mean_squared_error
tr_err = mean_squared_error(ytrain, tr_pred)
print("Training error is : ", tr_err)

Training error is :  6.132594102187903e-24

In [46]:
ts_err = mean_squared_error(ytest, ts_pred)
print("Testing error is : ", ts_err)

Testing error is :  6015.441887288915

In [48]:
lin_model.score(xtrain, ytrain)

1.0

In [56]:
#from sklearn.metrics import mean_absolute_error
#tr_err = mean_absolute_error(ytrain, tr_pred)
#print("Training error is : ", tr_err)

#ts_err = mean_absolute_error(ytest, ts_pred)
#print("Testing error is : ", ts_err)

In [57]:
#lin_model.score(xtrain, ytrain)

In [58]:
from sklearn.metrics import r2_score
r2_score(ytest,ts_pred)

0.9834146886566069

In [59]:
from sklearn.linear_model import Ridge
rd =Ridge()
rd.fit(xtrain,ytrain)
rd.score(xtest,ytest)

0.9789237336003349

In [69]:
rd =Ridge(alpha=1.5)
rd.fit(xtrain,ytrain)
rd.score(xtest,ytest)

0.9771643387601473

In [73]:
rd =Ridge(alpha=1.1)
rd.fit(xtrain,ytrain)
rd.score(xtest,ytest)

0.9785524516756247

In [71]:
rd =Ridge(alpha=0.9)
rd.fit(xtrain,ytrain)
rd.score(xtest,ytest)

0.9793056384381188

In [74]:
rd =Ridge(alpha=0.8)
rd.fit(xtrain,ytrain)
rd.score(xtest,ytest)

0.9796986769777368

In [75]:
rd =Ridge(alpha=0.6)
rd.fit(xtrain,ytrain)
rd.score(xtest,ytest)

0.9805203608831033

In [86]:
rd =Ridge(alpha=-1.8)
rd.fit(xtrain,ytrain)
rd.score(xtest,ytest)

0.99686936917459

In [87]:
rd =Ridge(alpha=-2.1)
rd.fit(xtrain,ytrain)
rd.score(xtest,ytest)

0.961155531657159

In [77]:
from sklearn.linear_model import Lasso
ls = Lasso(alpha=1.0)
ls.fit(xtrain,ytrain)
ls.score(xtest,ytest)

0.9999968292644235